/* #blue {
	color: blue;
}

.red {
	color: red;
} */
/* 
div .red {
	font-size: 40px;
} */

/* p .red {
	font-size: 40px;
} */

/* .font-big {
	font-size: 40px;
} */

/* h1 {
	color: red !important;
} */

.blue {
	color: blue;
}

/* #yellow {
	color: yellow;
} */

.yellow {
	color: yellow;
}

.font-big {
	font-size: 40px;
}

.all {
	color: yellow;
	font-size: 20px;
}
