@media (min-width: 25em) {
	.contenedor-inicial {
		.servicios-destacados {
			@include clearFix();
			article {
				float: left;
				width: 50%;
			}
		}
	}
}

@media (min-width: 60em) {
	.contenedor-inicial {
		.servicios-destacados {
			article {
				width: 25%;
			}
		}
	}
	.wrapper {
		margin-right: 10rem;
		margin-left: 10rem;
	}
}
