$theme: dark;

$secondary-color: grey;

$main-font-size: 2.4rem;

$secondary-font-size: $main-font-size / 2;

$transition-time: ' 200ms';

$transition-type: ' linear';

$back-colors: (red:rgb(250, 0, 0), blue: rgb(0, 0, 250), yellow:rgb(255, 195, 0), bondi-blue:#0097a7);

// $main-font-size * 2;

// $main-font-size - 2px;

// $main-font-size + 2rem;
