/* GENERAL */

* {
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 14px;
	font-size: 62.5%;
	font-family: sans-serif;
}

body {
	font-size: 14px;
	font-size: 1.4rem;
}

h1 {
	font-size: 24px;
	font-size: 2.4rem;
	color: #fbfbfb;
	text-align: center;
}

a {
	text-decoration: none;
	color: inherit;
}

h4 {
	font-size: 18px;
	font-size: 1.8rem;
}

.cleaner {
	clear: both;
}

/* HEADER */

header {
	height: 8rem;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.65) 100%);
	position: sticky;
	width: 100%;
	top: 0;
	z-index: 10000;
	display: flex;
	align-items: center;
	/* box-shadow: 0 0 1rem rgba(0, 0, 0, 0.54); */
}

header nav {
	display: none;
}

nav ol {
	display: flex;
}

.main-li {
	list-style-type: none;
	cursor: pointer;
	margin: 0.5rem;
	display: flex;
	font-size: 1.6rem;
	color: #fbfbfb;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.4);
	position: relative;
	border-radius: 0.5rem;
	height: 4rem;
	min-width: 15rem;
}

.header-title {
	flex: 1;
	font-size: 2.4rem;
	color: #fbfbfb;
	letter-spacing: 0.6rem;
	font-variant-ligatures: no-common-ligatures;
	-webkit-font-variant-ligatures: no-common-ligatures;
	text-align: left;
}

.main-li:hover .dropdown {
	display: block;
}

.dropdown {
	position: absolute;
	display: none;
	background-color: #fbfbfb;
	min-width: 15rem;
	top: 4rem;
	padding: 0;
	left: 0;
}

.dropdown li {
	list-style-type: none;
	color: rgba(0, 0, 0, 0.87);
	text-align: center;
	padding: 1.2rem;
}

.dropdown li:hover {
	color: #fbfbfb;
	background-color: rgba(0, 0, 0, 0.87);
}

/* SECONDARY NAV */

.ham-button {
	color: white;
	width: 6rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.close-button {
	color: white;
	height: 6rem;
	width: 6rem;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 0;
	top: 0;
}

#secondary-nav {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	color: white;
	z-index: 10000;
	background-color: rgba(0, 0, 0, 0.54);
	width: 100vw;
	height: 100vh;
}

#secondary-nav ol {
	display: block;
	position: relative;
	margin: 0;
	height: 100%;
	background-color: rgba(0, 0, 0, 1);
	margin-right: 20%;
	padding: 3rem;
	padding-right: 5rem;
}

#secondary-nav li {
	list-style-type: none;
	height: 3rem;
	margin: 1rem;
	padding-left: 1rem;
	display: flex;
	align-items: center;
}

#secondary-nav li:hover {
	cursor: pointer;
	background-color: grey;
}

#hidden-button:checked + #secondary-nav {
	display: block;
}

/* HOME */

main {
	margin-top: 8rem;
}

#home {
	background-image: url('../img/home/home.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: -8rem;
	height: 20rem;
	padding: 0;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.54);
}

#home article {
	height: 100%;
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}

.arrow-down {
	color: rgba(0, 0, 0, 0.87);
	height: 5rem;
	width: 5rem;
	cursor: pointer;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 50%;
	margin: 2rem;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.54);
	opacity: 1;
	font-size: 0.5rem;
	transition: transform 0.5s ease;
}

.arrow-down:hover {
	transform: scale(1.1);
	transition: transform 0.8s ease;
}

/* ABOUT */

#about:hover article div:nth-child(1) .circle-image {
	animation-name: zoom-in-out;
	animation-duration: 2s;
}

#about:hover article div:nth-child(2) .circle-image {
	animation-name: zoom-in-out;
	animation-delay: 2s;
	animation-duration: 2s;
}

#about:hover article div:nth-child(3) .circle-image {
	animation-name: zoom-in-out;
	animation-delay: 4s;
	animation-duration: 2s;
}

@keyframes zoom-in-out {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

.column {
	text-align: center;
	padding: 5rem;
}

.column h4 {
	margin: 3rem;
}

.circle-image {
	width: 90%;
	border-radius: 50%;
	overflow: hidden;
	margin: auto;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.54);
	transition: transform 0.5s ease;
}

.circle-image img {
	width: 100%;
	height: 100%;
}

/* HISTORY */

#history {
	background-image: url('../img/history/history.jpg');
	background-position: center center;
	background-size: cover;
	height: 100rem;
	padding: 0;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.54);
	font-weight: bold;
}
#history article {
	padding: 2rem;
}

#history p {
	color: rgba(0, 0, 0, 0.7);
	text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.37);
	font-size: 1.6rem;
}

/* DISCOGRAPHY */

#discography img {
	width: 100%;
}

#discography {
	display: none;
}

/* CONTACT */

#contact {
	background-color: grey;
	color: rgba(255, 255, 255, 0.9);
}

#contact h6 {
	font-size: 2.4rem;
	color: rgba(255, 255, 255, 0.9);
	text-align: center;
	padding-top: 2rem;
}

#contact form {
	margin: auto;
	padding: 3rem;
}

.text-input input {
	border: none;
	outline: none;
	outline-style: none;
	background: #333333;
	color: rgba(255, 255, 255, 0.9);
	width: 100%;
	font-size: 2.2rem;
	border-radius: 0.6rem;
	color: rgba(255, 255, 255, 0.9);
	margin-top: 1rem;
	height: 4rem;

	padding: 0.3rem 1rem;
}

.gender-options {
	min-height: 5rem;
	display: flex;
	flex-direction: column;
}
.gender-options label {
	flex: 1;
	height: 5rem;
}

.gender-options label {
	display: flex;
	align-items: center;
	font-size: 2.2rem;
	justify-content: space-around;
	cursor: pointer;
}

.gender-options input {
	margin: 0;
}
.form-select {
	border: none;
	outline: none;
	outline-style: none;
	margin-top: 1rem;
	-webkit-appearance: none;
	height: 4rem;
	font-size: 2.2rem;
	cursor: pointer;
	width: 100%;
	background: #333333;
	color: rgba(255, 255, 255, 0.9);
	padding: 0.3rem 1rem;
}

.form-buttons {
	display: flex;
}
.form-buttons input {
	cursor: pointer;
	border: none;
	background: #333333;
	color: rgba(255, 255, 255, 0.9);
	width: 100%;
	font-size: 2.2rem;
	border-radius: 0.6rem;
	color: rgba(255, 255, 255, 0.9);
	margin-top: 1rem;
	height: 4rem;
	padding: 0.3rem 1rem;
}

::placeholder {
	color: rgba(255, 255, 255, 0.9);
	opacity: 1;
}

/* MEDIA QUERIES  */

@media (min-width: 25em) {
	.column {
		width: 50%;
		float: left;
		padding: 3rem;
	}
	.circle-image {
		width: 20rem;
		height: 20rem;
	}
	#contact form {
		width: 60%;
	}
	section {
		padding: 0 5%;
	}
}

@media (min-width: 60em) {
	header {
		padding: 0 10rem;
		height: 10rem;
	}
	main {
		margin-top: 0;
	}
	#home {
		background-size: cover;

		height: 70rem;
	}
	.column {
		width: 33.3%;
	}
	header nav {
		display: block;
	}
	.gender-options {
		flex-direction: row;
	}
	#history {
		height: 80rem;
	}
	#history article {
		padding: 5rem 10rem;
	}
	#history p {
		font-size: 2.4rem;
		word-spacing: 1rem;
		line-height: 3.4rem;
	}
	#about {
		padding-top: 10rem;
		padding-bottom: 10rem;
	}
	.arrow-down {
		height: 10rem;
		width: 10rem;
		font-size: 1rem;
	}
	.ham-button {
		display: none;
	}
	#main-nav {
		display: block;
	}
}
