* {
	margin: 0;
}

html {
	box-sizing: border-box;
	font-size: 62.3%;
	font-family: sans-serif;
}

ul li {
	display: inline-block;
}

ul li {
	position: relative;
}

ul li:hover ol {
	display: block;
	position: absolute;
	top: 10px;
	left: 80px;
}
